body{
    margin: 0px;
    font-family: "Open Sans", sans-serif;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 110px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.head-container{
    display: flex;
    justify-content: space-evenly;
    background-color: #e8e5e480;
    border-radius: 25px;
    backdrop-filter: blur(10px);
}

.head-item{
    padding: 11px 18px;
    margin: 3px;
    border-radius: 23px;
    font-weight: 500;
    font-size: 14px;
}

.head-item a{
    margin: 6px;
    color: black;
    text-decoration: none;
}

.hero{
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.expertise{
    display: flex;
}

#big-text{
    width: 40%;
    text-align: center;
    margin: 0px;
}

h1{
    font-size: 65px;
    font-weight: 600;
    margin: 30px 0px;
}

.expertise{
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
}

.small-text{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.item{
    background-color: #e8e5e480;
    border-radius: 15px;
    margin: 5px;
}

.item p{
    margin: 9px;
    font-size: 14px;
    font-weight: 600;
    color: black ;
}

#expertise{
    background-color: transparent;
}

.main-container{
    display: flex;
    justify-content: center;
}

.imagebox{
    width: 72%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.link-image {
    flex: 1 0 43%; 
    position: relative; 
    overflow: hidden; 
    margin: 20px 10px; 
    border-radius: 10px;
    color: white;
}

.link-image img {
    width: 100%; 
    height: 100%;
    border-radius: 10px;
    object-fit: cover; 
    object-position: center;
}

.blur-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); 
    backdrop-filter: blur(10px); 
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 10px;
}

.link-image:hover .blur-overlay {
    opacity: 1;
}

.link-image:not(:hover) .blur-overlay {
    opacity: 0;
}

.link-image:hover p{
    visibility: visible;
}

.link-image p{
    position: absolute;
    top: 5px;
    left: 20px;
    font-weight: 600;
    visibility: hidden;
}

.open-button{
    position: absolute;
    color: black;
}

.link-image:hover .open-button-container{
    visibility: visible;
    opacity: 1;
    transform: translate(23px, -17px);
    transition: opacity 0.4s ease, transform 0.4s ease; 
}

.link-image:not(:hover) .open-button-container{
    opacity: 0; 
    visibility: hidden; 
    transform: translate(0px, 0px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0s 0.4s; 
}

.open-button-container{
    position: absolute;
    top: 33px;
    right: 40px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50px;
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.4s ease, transform 0.4s ease; 
}

.bottom-container{
    display: flex;
    justify-content: center;
}

.lets-work{
    height: 50vh ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 36px;
    margin: 0px;
    font-weight: 600;
}

.bottom-container a{
    font-size: 36px;
    margin: 0px;
    font-weight: 600;
    color: grey; 
    text-decoration: none;
}

.bottom-container a:hover{
    color: #c0bab680;
}


.footer-container{
    display: flex;
    justify-content: center;
    height: 100px;
}

footer{
    width: 75%;
    display: flex;
    justify-content: space-between;
}

footer *{
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}

footer a{
    justify-self: right;
}

footer img{
    height: 15px;
    margin: 0px;
}

#trademark{
    display: flex;
    justify-content: center;
    align-items: center;
}

#link-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#link-container a{
    margin: 0px 5px;
}

#link-container a:hover{
    color: gray;
}
